<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Все записи на день</title>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/user/{id} (id = ${record.getUserId()})}"
               th:text="${record.getUserName()}">Barber Application</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/companies}"><i
                        class="glyphicon glyphicon-home"></i></a></li>
                <!--                <li><a href="#">Ссылка</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Навигация<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/companies}">Все компании</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/users}">Все пользователи</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/companies/new"><i
                            class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Действие</a></li>
                        <li><a href="#">Другое действие</a></li>
                        <li><a href="#">Что-то еще</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Отдельная ссылка</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <table class="table table-bordered table-condensed table-sm">
        <thead>
        <tr>
            <div>
                <th style="border: 1px solid grey; text-align: center; background-color: #fff0d8" colspan="6" th:text="${record.date}">
                    Date
                </th>
            </div>
        </tr>
        <tr>
            <div class="col-md-1" style="background-color: #dff0d8">
                <th style="border: 1px solid grey; background-color: #dff0d8">
                </th>
            </div>
            <div class="col-md-1" style="background-color: #dff0d8; border-bottom: black">
                <th style="border: 1px solid grey; text-align: center; background-color: #dff0d8">
                    Время
                </th>
            </div>
            <div class="col-md-3" style="background-color: #dff0d8">
                <th style="border: 1px solid grey; text-align: center; background-color: #dff0d8">
                    Имя клиента
                </th>
            </div>
            <div class="col-md-3" style="background-color: #dff0d8">
                <th style="border: 1px solid grey; text-align: center; background-color: #dff0d8">
                    Название процедуры
                </th>
            </div>
            <div class="col-md-2" style="background-color: #dff0d8">
                <th style="border: 1px solid grey; text-align: center; background-color: #dff0d8">
                    Стоимость
                </th>
            </div>
            <div class="col-md-2" style="background-color: #dff0d8">
                <th style="border: 1px solid grey; text-align: center; background-color: #dff0d8">
                    Комментарий
                </th>
            </div>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <div th:each="line, iterStat: ${allLines}">

            <tr th:style="${iterStat.odd}?'background:#EEEEEE':'background:#FFFFFF'">
                <form th:method="PATCH"
                      th:action="@{/records/user/{userId}/{lineId} (userId = ${line.userId},lineId = ${line.lineId})}">
                    <div class="col-md-1">
                        <td style="border: 1px solid grey">
                            <button class="btn btn-success btn-sm" type="submit">Записать</button>
                        </td>
                    </div>
                    <div class="col-md-1">
                        <td style="border: 1px solid grey">
                            <input class="form-control transparent-input" type="text"  name="time"
                                   th:value="${line.time}" readonly style="border: 0px; box-shadow: none;" th:styleappend ="${iterStat.odd}?'background:#EEEEEE':'background:#FFFFFF'"/>
                    </div>
                    <div class="col-md-3">
                        <td style="border: 1px solid grey">

                            <input class="form-control transparent-input" type="text" name="clientName"
                                   th:value="${line.clientName}" style="border: 0px; box-shadow: none;" th:styleappend ="${iterStat.odd}?'background:#EEEEEE':'background:#FFFFFF'"/>
                    </div>
                    <div class="col-md-3">
                        <td style="border: 1px solid grey">
                            <input class="form-control transparent-input" type="text" name="procedureName"
                                   th:value="${line.procedureName}" style="border: 0px; box-shadow: none;" th:styleappend ="${iterStat.odd}?'background:#EEEEEE':'background:#FFFFFF'"/>
                        </td>
                    </div>
                    <div class="col-md-2">
                        <td style="border: 1px solid grey">
                            <input class="form-control transparent-input" type="text" name="procedureCost"
                                   th:value="${line.procedureCost}" style="border: 0px; box-shadow: none;" th:styleappend ="${iterStat.odd}?'background:#EEEEEE':'background:#FFFFFF'"/>
                        </td>
                    </div>
                    <div class="col-md-2">
                        <td style="border: 1px solid grey">
                            <input class="form-control transparent-input" type="text" name="comment"
                                   th:value="${line.comment}" style="border: 0px; box-shadow: none;" th:styleappend ="${iterStat.odd}?'background:#EEEEEE':'background:#FFFFFF'"/>
                    </div>
                </form>
            </tr>

        </div>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>