<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/user/{id}/edit (id=${user.getUserId()})}" th:object="${user}">
    <label for="userId">Enter userId: </label>
    <input type="text" th:field="*{userId}" id="userId" disabled="true">
    <br/>
    <label for="userName">Enter userName: </label>
    <input type="text" th:field="*{userName}" id="userName">
    <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName Errors</div>
    <br/>
    <label for="userCompany">Enter userCompany: </label>
    <input type="text" th:field="*{userCompany}" id="userCompany">
    <div style="color:red" th:if="${#fields.hasErrors('userCompany')}" th:errors="*{userCompany}">userCompany Errors
    </div>
    <br/>
    <label for="userPhoneNumber">Enter userPhoneNumber: </label>
    <input type="text" th:field="*{userPhoneNumber}" id="userPhoneNumber">
    <div style="color:red" th:if="${#fields.hasErrors('userPhoneNumber')}" th:errors="*{userPhoneNumber}">
        userPhoneNumber Errors
    </div>
    <br/>
    <label for="userProfession">Enter userProfession: </label>
    <input type="text" th:field="*{userProfession}" id="userProfession">
    <div style="color:red" th:if="${#fields.hasErrors('userProfession')}" th:errors="*{userProfession}">userProfession
        Errors
    </div>
    <br/>
    <label for="userRole">Enter userRole: </label>
    <input type="text" th:field="*{userRole}" id="userRole">
    <div style="color:red" th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}">userRole Errors</div>
    <br/>
    <label for="usersAccessed">Enter usersAccessed: </label>
    <input type="text" th:field="*{usersAccessed}" id="usersAccessed">
    <div style="color:red" th:if="${#fields.hasErrors('usersAccessed')}" th:errors="*{usersAccessed}">userAccessed1
        Errors
    </div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
        Errors
    </div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email
        Errors
    </div>
    <br/>
    <label for="picture">Enter picture: </label>
    <input type="text" th:field="*{picture}" id="picture">
    <div style="color:red" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}">picture
        Errors
    </div>
    <br/>
    <input type="submit" value="Update!">
</form>
</body>
</html>